h1 {
  text-align: center;
}

.center {
  max-width: 100%;
  max-height: 100%;
}

.square {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  object-fit: cover;
}

.bottom-fragger {
  text-decoration: none;
  color: white;
}

.just-bottom {
  background-color: rgba(56, 5, 56, 0.637);
}

.bottom-fragger a {
  color: white;
}

@media screen and (max-width: 768px) {
  .bottom-fragger a {
    font-size: 10px;
  }
}
